.header_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0px 300px 0px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    z-index: 1000;

    .nav_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px 0px;

        .header_image {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            p {
                color: blueviolet;
                font-size: 1.3rem;
            }
        }

        .nav_links {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            gap: 15px;

            ul {
                display: flex;
                gap: 20px;
                list-style: none;

                li {

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.2rem;
                    }
                }
            }

        }
    }



}